<div class="nutrition-calculation%>" >
<h1 style="color: red">This is <%= @sum_calories %></h1>

  <h2 class="nutrition-heading">Your Nutrition</h2>
  <table class="one-nutrition-table">
    <tr>
      <th>Nutrient</th>
      <th>Amount</th>
      <th>% Daily Value</th>
    </tr>
    <tr>
      <td>Calories</td>
      <td><%= NutritionItem.first.calories + NutritionItem.second.calories %></td>
    </tr>
    <tr>
      <td>Protein</td>
      <td><%= NutritionItem.first.protein %> g</td>
    </tr>
    <tr>
      <td>Carbs</td>
      <td><%= NutritionItem.first.carbs %> g</td>
    </tr>
    <tr>
      <td class="indented">Sugar</td>
      <td><%= NutritionItem.first.sugar %> g</td>
    </tr>
    <tr>
      <td class="indented">Fiber</td>
      <td><%= NutritionItem.first.fiber %> g</td>
    </tr>
    <tr>
      <td>Fat</td>
      <td><%= NutritionItem.first.fat %> g</td>
    </tr>
    <tr>
      <td class="indented">Saturated</td>
      <td><%= NutritionItem.first.saturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Monounsaturated</td>
      <td><%= NutritionItem.first.monounsaturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Polyunsaturated</td>
      <td><%= NutritionItem.first.polyunsaturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Omega-3</td>
      <td><%= NutritionItem.first.omega_3 %> g</td>
    </tr>
    <tr>
      <td class="indented">Omega-6</td>
      <td><%= NutritionItem.first.omega_6 %> g</td>
    </tr>
    <tr>
      <td class="indented">Trans fat</td>
      <td><%= NutritionItem.first.trans_fat %> g</td>
    </tr>
  </table>
</div>
