<div class="nutrition-table <% htmlClass %>" >
  <% selectedNutritionItem = NutritionItem.where(category: htmlClass).first %>
  <h4 class="nutrition-heading"><%= "Nutrition Facts " + selectedNutritionItem.name %></h4>
  <table class="one-nutrition-table">
    <tr>
      <th>Nutrient</th>
      <th>Amount</th>
      <th>% Daily Value</th>
    </tr>
    <tr>
      <td>Calories</td>
      <td><%= selectedNutritionItem.calories %></td>
    </tr>
    <tr>
      <td>Protein</td>
      <td><%= selectedNutritionItem.protein %> g</td>
    </tr>
    <tr>
      <td>Carbs</td>
      <td><%= selectedNutritionItem.carbs %> g</td>
    </tr>
    <tr>
      <td class="indented">Sugar</td>
      <td><%= selectedNutritionItem.sugar %> g</td>
    </tr>
    <tr>
      <td class="indented">Fiber</td>
      <td><%= selectedNutritionItem.fiber %> g</td>
    </tr>
    <tr>
      <td>Fat</td>
      <td><%= selectedNutritionItem.fat %> g</td>
    </tr>
    <tr>
      <td class="indented">Saturated</td>
      <td><%= selectedNutritionItem.saturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Monounsaturated</td>
      <td><%= selectedNutritionItem.monounsaturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Polyunsaturated</td>
      <td><%= selectedNutritionItem.polyunsaturated %> g</td>
    </tr>
    <tr>
      <td class="indented">Omega-3</td>
      <td><%= selectedNutritionItem.omega_3 %> g</td>
    </tr>
    <tr>
      <td class="indented">Omega-6</td>
      <td><%= selectedNutritionItem.omega_6 %> g</td>
    </tr>
    <tr>
      <td class="indented">Trans fat</td>
      <td><%= selectedNutritionItem.trans_fat %> g</td>
    </tr>
  </table>
</div>
