<div class="container main-container">
  <div class="content-wrapper">
    <div class="row top-row">

      <div class="col-xs-12 col-sm-6">

        <h2 class="calculator-heading">Calculating Your Daily Nutrition</h2>

        <p class="intro-question">What did you eat?</p>

        <div class="dropdown select-food-dropdown">
          <button class="btn main-selection-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Food Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <li>
              <button class="select-btn" id="fruit-select">Fruits</button>
            </li>
            <li>
            <button class="select-btn" id="vegetable-select">Vegetables</button>
            </li>
            <li>
              <button class="select-btn" id="dairy-select">Dairy</button>
            </li>
            <li>
            <button class="select-btn" id="nuts-select">Nuts and Seeds</button>
            </li>
          </ul>
        </div>

        <div class="select-dropdown-placeholder select-specific-dropdown"></div>

        <div class="dropdown select-specific-dropdown invisible" id="fruit-select-dropdown">
          <button class="btn main-selection-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Fruit Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <% @nutrition_items.where(category: "Fruit").each do |item| %>
            <li>
              <div class="calculate-link">
                <%= link_to item.name, calculate_path(selected_code: item.code, sum_calories: @sum_calories, sum_carbs: @sum_carbs,sum_protein: @sum_protein, sum_sugar: @sum_sugar, sum_fiber: @sum_fiber, sum_fat: @sum_fat, sum_saturated: @sum_saturated, sum_monounsaturated: @sum_monounsaturated, sum_polyunsaturated: @sum_polyunsaturated, sum_omega_3: @sum_omega_3, sum_omega_6: @sum_omega_6, sum_trans_fat: @sum_trans_fat), remote: true, class: "sub-select-btn one-select" %>
              </div>
            </li>
            <% end %>
            <!-- <button class="select-btn one-select"><span class="apple-100">About 100 g of Apple</span></button> -->
          </ul>
        </div>

        <div class="dropdown select-specific-dropdown invisible" id="vegetable-select-dropdown">
          <button class="btn main-selection-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Vegetable Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <% @nutrition_items.where(category: "Vegetable").each do |item| %>
            <li>
              <div class="calculate-link">
                <%= link_to item.name, calculate_path(selected_code: item.code, sum_calories: @sum_calories, sum_carbs: @sum_carbs,sum_protein: @sum_protein, sum_sugar: @sum_sugar, sum_fiber: @sum_fiber, sum_fat: @sum_fat, sum_saturated: @sum_saturated, sum_monounsaturated: @sum_monounsaturated, sum_polyunsaturated: @sum_polyunsaturated, sum_omega_3: @sum_omega_3, sum_omega_6: @sum_omega_6, sum_trans_fat: @sum_trans_fat), remote: true, class: "sub-select-btn one-select" %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="dropdown select-specific-dropdown invisible" id="dairy-select-dropdown">
          <button class="btn main-selection-btn dropdown-toggle" type="button" id="secondary-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Dairy Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <% @nutrition_items.where(category: "Dairy").each do |item| %>
            <li>
              <div class="calculate-link">
                <%= link_to item.name, calculate_path(selected_code: item.code, sum_calories: @sum_calories, sum_carbs: @sum_carbs,sum_protein: @sum_protein, sum_sugar: @sum_sugar, sum_fiber: @sum_fiber, sum_fat: @sum_fat, sum_saturated: @sum_saturated, sum_monounsaturated: @sum_monounsaturated, sum_polyunsaturated: @sum_polyunsaturated, sum_omega_3: @sum_omega_3, sum_omega_6: @sum_omega_6, sum_trans_fat: @sum_trans_fat), remote: true, class: "sub-select-btn one-select" %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="dropdown select-specific-dropdown invisible" id="nuts-select-dropdown">
          <button class="btn main-selection-btn dropdown-toggle" type="button" id="secondary-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Nut or Seed Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
            <% @nutrition_items.where(category: "Nuts and Seeds").each do |item| %>
            <li>
              <div class="calculate-link">
                <%= link_to item.name, calculate_path(selected_code: item.code, sum_calories: @sum_calories,sum_carbs: @sum_carbs, sum_protein: @sum_protein, sum_sugar: @sum_sugar, sum_fiber: @sum_fiber, sum_fat: @sum_fat, sum_saturated: @sum_saturated, sum_monounsaturated: @sum_monounsaturated, sum_polyunsaturated: @sum_polyunsaturated, sum_omega_3: @sum_omega_3, sum_omega_6: @sum_omega_6, sum_trans_fat: @sum_trans_fat), remote: true, class: "sub-select-btn one-select" %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="container-selected-food"><span class="placeholder-selected-food">Add food you ate by selecting it above</span></div>

      </div>

      <div class="col-xs-12 col-sm-6">
        <div id="result-partial">
          <% if @selected %>
          <%= render partial: 'nutrition-calculation', locals: { selected: @selected } %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
